.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0252ff;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.header-logo {
  font-size: 24px; /* 如果你觉得大了，可以改小这个值 */
  margin-right: 30px;
  padding: 15px 0;
}

.header-nav,
.header-actions {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}

.header-nav a,
.header-actions a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  padding: 15px 0;
  position: relative;
}

.header-nav a:last-child,
.header-actions a:last-child {
  margin-right: 0;
}

.header-nav a:hover,
.header-actions a:hover {
  color: #beeeec;
}

.header-nav a::before,
.header-actions a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.header-nav a:hover::before,
.header-actions a:hover::before {
  visibility: visible;
  width: 100%;
}
